@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin-top: 10px;
  font-size: 2rem;
  font-family: "Fasthand", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 8rem;
}

footer p {
  text-align: center;
  position: relative;
  bottom: 5px;
}

.filter-nav {
  margin: 1rem 0;
  background-color: grey;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  font-family: "Montserrat", sans-serif;
}

.brew-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shop-card {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid lightgray;
  border-radius: 8px;
}
